.people_table {
    border: 3px solid lightskyblue;
    border-radius: 2%;
    margin: 2vh auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}

th {
    padding: 5px 20px;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid lightskyblue;
}

.button:hover {
    background-color: lightskyblue;
    color: white;
}